aiohttp>=2.2.5
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
currencyconverter
emoji
feedparser
future
geopy
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
gpytranslate
intellivoid-SPB
markdown2
multicolorcaptcha
nltk
pillow>=4.2.0
psutil
psycopg2-binary
pyYAML>=5.1.2
pyrate-limiter
pyrogram
python-telegram-bot==13.5
requests
rich
spamwatch
speedtest-cli
spongemock
pymongo
motor==2.1.0
odmantic
dnspython
telethon==1.16.4
tgcrypto
tswift
ujson
zalgo-text
